<html>
    <body>
       <h1>DASHBOARD</h1><br>
       <h6><button type="button" onclick="location.href='http://localhost:5000/farmerGetSensor';"> View Sensors</a></h6>
        <h6><button type="button" onclick="location.href='http://localhost:5000/farmerAddSensor';"> Add Sensor</a></h6>
        <h6><button type="button" onclick="location.href='http://localhost:5000/monitor';"> Monitor</a></h6>
    </body>
</html>