<html>
    <body>
        <form action= "http://localhost:5000/farmerAddSensor" method="post">
            <%= message %><br>
            <input type="text" name="type" id="type" required/><br>
            <button type="submit">Select Sensor</button>
        </form>
    </body>
</html>