<html>
    <body>
        <form action= "http://localhost:5000/login" method="post">
            <%= message %><br>
            <input type="email" name="email" id="email" required/><br>
            <input type="password" name="password" id="password" required/><br>
            <button type="submit">Sign In</button>
        </form>
    </body>
</html>