<html>
    <body>
        <h1>Add Sensor</h1>
        <form action= "http://localhost:5000/sensor" method="post">
            <%= message %><br>
            Sensor Type: 
            <input type="radio" name="stype" id="stype" value="Temperature"> Temperature<br>
            <input type="radio" name="stype" id="stype" value="Humidity"> Humidity<br>
            <input type="radio" name="stype" id="stype" value="Precipitation"> Precipitation Intensity and Probability
            <input type="radio" name="stype" id="stype" value="Wind"> Wind
            <input type="radio" name="stype" id="stype" value="Visibility"> Visibility
            <input type="text" name="sdesc" id="sdesc" required/><br>
            <input type="number" name="price" id="price" required/><br>
            <button type="submit">Add Sensor</button>
        </form>
    </body>
</html>